*, :before, :after {
    box-sizing: border-box;
}

:root {
    --wc: 962px;
    --bg-elem: #ffffff;
    --h-color: #6b6b6b;
    --status: #c4c4c4;
    --text-color: #898989;
}

body {
    margin: 0;
    background: url("./img/Background.png");
}

.main-wall {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.content {
    width: var(--wc);
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
}

.content-line {
    width: 662px;
    background: var(--bg-elem);
    border: 1px solid #c8c8c8;
    padding: 25px;
    margin-right: 23px;
    display: flex;
    flex-direction: column;
}

/*header*/

.header {
    width: 100%;
    background: var(--bg-elem);
    border-bottom: 1px solid #c8c8c8;
    padding: 38px 1px 31px 1px;
    margin-bottom: 23px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--wc);
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-family: "Cabin", serif;
    color: var(--h-color);
}

.inner-logo:after {
    content: url("./img/Layer 15.png");
    padding: 0 4px 0 2px;
    position: relative;
    top: 4px;
}

.navigation {
    padding-top: 3px;
}

.nav-links {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nav-item {
    color: var(--h-color);
    font-family: "Cabin", serif;
    font-size: 16px;
}

.nav-item:hover {
    color: #7dae59;
}

.nav-links li {
    list-style: none;
    padding-right: 34px;
}

.nav-links li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
}

/*main-content*/

.content-head {
    margin: 0;
    padding-bottom: 32px;
    font-size: 27px;
    font-family: "Cabin", serif;
    color: var(--h-color);
    line-height: 1.24;
}

.content-head:after {
    content: url("./img/sep.png");
    display: block;
    height: 2px;
    position: relative;
    bottom: 8px;
}

.status:after {
    content: url("./img/sep.png");
    display: block;
    height: 2px;
    position: relative;
    bottom: -6px;
}

.status {
    padding-bottom: 36px;
    color: var(--status);
    font-size: 12px;
    font-family: "Cabin", serif;
}

.status-cont {
    display: flex;
    justify-content: space-between;
}

.sep:after {
    content: "|";
    padding: 0 5px;
}

.time,
.comments {
    color: var(--status);
    font-size: 11px;
    font-family: "Cabin", serif;
}

.likes {
    color: red;
    font-size: 10px;
}

.fas {
    padding-right: 5px;
}

.alt-head {
    font-size: 23px;
    font-family: "Cabin", serif;
    color: var(--h-color);
    line-height: 1.476;
}

.art-descr,
.about-descr {
    margin: 13px 0 25px;
    color: var(--text-color);
    font-size: 14px;
    font-family: "Cabin", serif;
    line-height: 1.643;
}

.art-photo {
    width: 610px;
    height: 350px;
    margin-bottom: 13px;
}

.art-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.art-gallery-inner {
    width: 110px;
    height: 90px;
    object-fit: cover;
}

.art-list {
    color: var(--text-color);
    font-size: 14px;
    font-family: "Cabin", serif;
    line-height: 1.643;
    list-style-image: url("./img/17.png");
}

.main-content {
    margin-bottom: 62px;
}

.main-content:after {
    content: url("./img/sep.png");
    display: block;
    height: 2px;
    position: relative;
    bottom: -14px;
}

/*related-block*/

.title-head {
    margin: 0 0 25px 0;
    font-size: 20px;
    font-family: "Cabin", serif;
    color: var(--h-color);
    line-height: 1.24;
}

.related-posts-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.related-img {
    width: 190px;
    height: 150px;
    object-fit: cover;
}

.related-posts {
    margin-bottom: 62px;
}

.related-posts:after {
    content: url("./img/sep.png");
    display: block;
    height: 2px;
    position: relative;
    bottom: -22px;
}

/*comments*/

.user-comments {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.user-comments:last-child {
    margin-bottom: 0;
}

.message {
    padding: 24px;
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.avatar {
    margin-right: 25px;
    width: 70px;
    height: 70px;
}

.next-comment {
    margin-left: 40px;
}

.next-comment .message {
    background: #f5f5f5;
    border: 2px solid #ededed;
}

.post {
    margin: 0;
    color: var(--text-color);
    font-size: 14px;
    font-family: "Cabin", serif;
    line-height: 1.643;
}

.art-comments {
    margin-bottom: 62px;
}

.art-comments:after {
    content: url("./img/sep.png");
    display: block;
    height: 2px;
    position: relative;
    bottom: -23px;
}

.user-name {
    color: var(--h-color);
    font-family: "Cabin", serif;
    font-size: 17px;
    padding-bottom: 10px;
}

/*send-form*/

.send-comments,
#comments-form {
    display: flex;
    flex-direction: column;
}

#comments-form * {
    outline: none;
    padding-left: 11px;
    height: 33px;
    margin-bottom: 17px;
    border: 1px solid #ededed;
    color: var(--text-color);
    background: #fbfbfb;
}

#textComment {
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 20px;
    height: 183px;
}

.send-descr {
    padding-bottom: 25px;
    font-size: 14px;
    font-family: "Cabin", serif;
    color: var(--text-color);
}

#submit {
    color: #fafafa;
    font-family: "Cabin", serif;
    font-size: 14px;
    margin-bottom: 0;
    height: 28px;
    width: 110px;
    border: 1px solid #648a49;
    border-radius: 5px;
    background: linear-gradient(to bottom, #a7c88e 1%, #88b369 49%, #739d53 50%);
}

/*sidebar*/

.popular-post {
    margin-bottom: 42px;
}

.about-author {
    margin-bottom: 49px;
}

.search {
    margin-bottom: 62px;
}

.popular-post:after {
    content: "";
    background: url("./img/sep-lite.png") repeat-x;
    display: block;
    height: 2px;
    position: relative;
    bottom: -5px;
}

.about-author:after {
    content: "";
    background: url("./img/sep-lite.png") repeat-x;
    display: block;
    height: 2px;
    position: relative;
    bottom: -7px;
}

.search:after {
    content: "";
    background: url("./img/sep-lite.png") repeat-x;
    display: block;
    height: 2px;
    position: relative;
    bottom: -23px;
}

#search {
    padding-left: 11px;
    outline: none;
    height: 33px;
    width: 100%;
    border: 1px solid #ededed;
    color: var(--text-color);
    background: #fbfbfb;
}

.other-post {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.name-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0 9px 12px;
}

.other-head,
.related-head {
    margin: 0;
    font-size: 14px;
    font-family: "Cabin", serif;
    color: var(--h-color);
    line-height: 1.24;
}

.other-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.side-bar {
    background: var(--bg-elem);
    border: 1px solid #c8c8c8;
    display: flex;
    flex-direction: column;
    height: max-content;
    flex: 1;
    padding: 25px;
}

.categories-list {
    list-style: none;
    padding: 0;
}

.categories-list a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Cabin", serif;
    font-size: 14px;
}

/*footer*/

.footer {
    background: var(--bg-elem);
    border-top: 1px solid #d4d4d4;
    height: 50px;
    display: flex;
    align-items: center;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--wc);
    margin: 0 auto;
}

.contacts {
    color: var(--text-color);
    font-family: "Cabin", serif;
    font-style: normal;
    font-size: 15px;
}

.contacts:before {
    content: "\00A9";
    font-size: 16px;
    position: relative;
    margin-right: 5px;
    top: 1px;
}

/*icons sprite*/

.icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.icons *:not(:last-child) {
    margin-right: 6px;
}

.bg-Layer_12 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -6px -6px;
}

.bg-Layer_7 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -42px -6px;
}

.bg-Layer_14 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -78px -6px;
}

.bg-Layer_6 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -114px -6px;
}

.bg-Layer_8 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -150px -6px;
}

.bg-Layer_11 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -186px -6px;
}

.bg-Layer_13 {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites.png') -222px -6px;
}

/*media*/

@media screen and (max-width: 962px) {
    .main-wall {
        min-width: 662px;
    }

    .content {
        flex-direction: column;
        width: 662px;
    }

    .content-line {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header-content {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}

/*modal*/

.modal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c4c4c4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: #fafafa;
    position: relative;
    z-index: 105;
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
}

.no-scroll {
    /*position: fixed;*/
    margin-right: calc(-1 * (100vw - 100%));
    /*margin-left: calc(100vw - 100%);*/
    /*margin-right: 0;*/
    overflow: hidden;
}

.hidden {
    display: none;
}